@media only screen and (min-width: 600px) {
    .content {
        display: grid;
        grid-template-columns: 120px 600px auto;
        grid-row-start: 3;
        margin-top: 100px;
    }

    .img_list {
        margin-top: auto;
        margin-bottom: auto;
    }

    .img_small {
        display: block;
        width: 100px;
        margin-bottom: 10px;
        /* center the image*/
        margin-left: auto;
        margin-right: auto;
    }

    .img_selected {
        border: 1px solid black;
    }

    .img_large {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .item_title {
        font-size: 25px;
        color: #6F6F6F;
    }

    .details div {
        margin-top: 20px;
        padding: 5px;
    }

    .price {
        font-size: 25px;
        color: #F9F9F9;
    }

    .item_details {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .span_text {
        grid-column-start: 3;
        justify-self: end;
    }

    .button {
        border: 1px solid grey;
        width: 150px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button:hover {
        background-color: #6F6F6F;
        color: #F9F9F9;
    }

    .change_pointer {
        /* mouse change when it hovers over items with this class */
        cursor: pointer;
    }
}
